<router-outlet></router-outlet>
<!-- <app-ejs-table></app-ejs-table> -->
<!-- <app-form-array></app-form-array> -->
<app-ejs-chart></app-ejs-chart>
<!-- <app-form></app-form> -->
<!-- <app-users></app-users> -->

<!-- <button class="btn btn-block mr-5" routerLink="admin/login">login</button>
<button class="btn btn-block" routerLink="admin/list">list</button> -->


<!-- <div appCustom [number]="number" style="font-size: 100px;">
    {{number}}
</div> -->

<!-- <app-child></app-child> -->

<!-- <app-parent></app-parent> -->