<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>position</th>
                <th>name</th>
                <th>weight</th>
                <th>symbol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of tableData">
                <td>{{data.position}}</td>
                <td>{{data.name}}</td>
                <td>{{data.weight}}</td>
                <td>{{data.symbol}}</td>
            </tr>
        </tbody>
    </table>
</div>